<!-- outfit.html -->
<style>
  th, td { text-align: right; }
  th.name, td.name { text-align: left; }
  th.outfitrank, td.outfitrank { text-align: left; }
</style>
<header class="navbar navbar-static-top navbar-inverse {{outfit.factionTag}}" role="banner">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand" style="background-image: url('{{ outfit.factionImage }}')">
        <span style="margin-left:25px;">{{ outfit.alias ? '[' + outfit.alias + '] ' : '' }}{{ outfit.name }}</span>
      </div>
    </div>
    <p class="navbar-text members-count">
      {{ outfit.membersCount }} members
    </p>
    <form class="navbar-form navbar-right" role="search" ng-submit="submit()" ng-controller="searchController">
      <div class="form-group">
        <input ng-model="term" type="text" class="form-control" placeholder="Search"></input>
      </div>
    </form>
  </div>
</header>

<div class="container-fluid {{outfit.factionTag}}">
  <div class="row">
    <div class="col-xs-12">
        <div class="form-group">
          <label>Statistics coverage</label>
          <label class="checkbox-inline"><input type="radio" value="daily" ng-model="period" /> Daily</label>
          <label class="checkbox-inline"><input type="radio" value="weekly" ng-model="period" /> Weekly</label>
          <label class="checkbox-inline"><input type="radio" value="monthly" ng-model="period" /> Monthly</label>
          <label class="checkbox-inline"><input type="radio" value="all_time" ng-model="period" /> Overall</label>
        </div>

        <div id="myGrid" class="ag-theme-alpine" style="width: 100%; height: 100%;"></div>
    </div>
  </div>
</div>
